.dropdown {
  height: 40px;
  border: 2px solid $color-grey;
  background-color: $color-white;
  color: $color-black;
  &__select {
    height: 36px;
    padding: 0px 15px;
    border: 0;
    outline: none;
    font-size: 14px;
    width: 100%;
    appearance: none;
    outline: none;
    background: url("../img/component/shape.png") no-repeat 95% center;
  }
  &--red-point {
    padding-top: 5px;
    background: url(../img/component/red-point.png) no-repeat 16px 15px, url("../img/component/shape.png") no-repeat 95% center;
    font-size: 12px;
    padding-left: 35px;
    letter-spacing: 0.25px;
    padding-right: 0px;
  }
}


