.header {
  background: url("../img/bg/homepage-h.jpg") no-repeat center;
  height: 301px;
  padding-top: 20px;
  &__home {
    margin-top: 16px;
  }
  &__nav {

  }
  &__text {

  }
  &__chooser{

  }
}