span.customSelect {
  font-size:14px;
  background-color: $color-white;
  color: $color-black;
  padding:7px 9px;

}
span.customSelect.changed {
}
.customSelect.customSelectHover {
}

.customSelect.customSelectOpen {
}

.customSelect.customSelectFocus {
}

.customSelect.customSelectDisabledOption {
}

.customSelect.customSelectDisabled {
}

.customSelectInner {
}