@import "../../fonts/stylesheet";
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey:  #DFE3E6;
$color-green:  #30AE63;
$color-green-light: #44B575;

body {
  max-width: 1200px;
  font-family: open_sans, sans-serif;
  font-size: 14px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}