<section class="best-offer best-offer__home wrap">
    <p class="section-main-text">Лучшие предложения в Киеве</p>
    <div class="slider best-offer__slider owl-carousel">
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">7800 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">2 комн, • 30 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--red-point">
                <p>Политехнический институт</p>
            </div>
        </div>
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">10200 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">1 комн, • 30 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--red-point">
                <p>Политехнический институт</p>
            </div>
        </div>
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">6900 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">2 комн, • 30 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--red-point">
                <p>просп. Победы, 18А</p>
            </div>
        </div>
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">9000 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">2 комн, • 30 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--red-point">
                <p>Политехнический институт</p>
            </div>
        </div>
    </div>
    <p class="section-additional">
        Смотреть лучшие ценовые предложения
    </p>

</section>