<section class="blog blog__home wrap">
    <p class="main-text blog__header">Блог Metrovka</p>
    <p class="blog__content_text">Хитрости, приемы, советы, фото и видео – все о том как продать, купить, сдать в аренду или арендовать недвижимость. </p>
    <div class="blog-slider ">
        <div class="blog-slider__elem">
            <div class="blog-slider__elem-img">
                <a href=""><img src="" class="blog-slider__elem-settings" alt=""></a>
            </div>
            <div class="blog-slider__elem-head blog-slider__elem-head--violet">
                <p>ЛАЙФХАК</p>
            </div>
            <div class="blog-slider__elem-value">
                <div class="blog-slider__elem-text">Киевляне могут оплатить коммуналку через Facebook…</div>
            </div>
            <p class="blog-slider__elem-detail">Татьяна Малыняк  •  5 мин чтения</p>

        </div>
        <div class="blog-slider__elem">
            <div class="blog-slider__elem-img">
                <a href=""><img src="" class="blog-slider__elem-settings" alt=""></a>
            </div>
            <div class="blog-slider__elem-head blog-slider__elem-head--green">
                <p>СОВЕТ METROVKA</p>
            </div>
            <div class="blog-slider__elem-value">
                <p class="blog-slider__elem-text">ТОП-5 самых дешевых квартир Киева</p>
            </div>
            <p class="blog-slider__elem-detail">Татьяна Малыняк  •  4 мин чтения</p>

        </div>
        <div class="blog-slider__elem">
            <div class="blog-slider__elem-img">
                <a href=""><img src="" class="blog-slider__elem-settings" alt=""></a>
            </div>
            <div class="blog-slider__elem-head blog-slider__elem-head--blue">
                <p>ТЕХНОЛОГИИ</p>
            </div>
            <div class="blog-slider__elem-value">
                <p class="blog-slider__elem-text">Смарт квартиры: цены, предложения и законность</p>
            </div>
            <p class="blog-slider__elem-detail">Татьяна Малыняк  •  2 мин чтения</p>

        </div>

    </div>
    <p class="blog-page">Перейти на страницу блога</p>

</section>