<section class="last-offer last-offer__home wrap">
    <p class="section-main-text">Последние обьявления в Киеве</p>
    <div class="selector last-offer__type-house">
        <a href="">
            <div class="selector__elem">Квартиры</div>
        </a>
        <a href="">
            <div class="selector__elem">Дома</div>
        </a>
        <a href="">
            <div class="selector__elem">Офисы</div>
        </a>
    </div>
    <div class="slider last-offer__slider owl-carousel">
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">11800 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">2 комн, • 48 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--red-point">
                <p>Политехнический институт</p>
            </div>
        </div>
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">15000 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">1 комн, • 30 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--red-point">
                <p>Шулявская</p>
            </div>
        </div>
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">11800 грн</p>
                <div class="slider__elem-star"></div>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">1 комн, • 30 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--blue-point">
                <p>Контрактовая площадь</p>
            </div>
        </div>
        <div class="slider__elem">
            <div class="slider__elem-img">
                <a href=""><img src="" class="slider__elem-settings" alt=""></a>
            </div>
            <div class="slider__elem-value">
                <p class="slider__elem-price">7000 грн</p>
                <div class="slider__elem-star"></div>
            </div>
            <p class="slider__elem-detail">2 комн, • 40 кв. м.</p>
            <div class="slider__elem-location slider__elem-location--no-point">
                <p>просп. Победы, 18А</p>
            </div>
        </div>
    </div>
    <p class="section-additional last-offer__footer">
        Смотреть самые свежие объявления
    </p>
</section>