<div id="myNav" class="overlay">
    <div class="nav__left">
        <a href="#" class="logo nav__logo-menu"><img src="" class="logo__img" alt=""></a>
        <a href="" class="nav__elem nav__elem--white">Аренда</a>
    </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&#9776;</a>
    <div class="overlay-content">
        <a href="#">Продажа</a>
        <a href="#">Посуточно</a>
        <a href="#">Блог</a>
        <a href="#">Контакты</a>
        <a href="#">Новый поиск</a>
        <input type="text" class="input nav__ad input--grey" placeholder="Разместить обявление">
        <a href="" class="nav__login">Войти</a>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
</script>