<div id="myNav" class="nav__overlay">
    <div class="nav__left">
        <a href="#" class="logo nav__logo-menu"><img src="" class="logo__img" alt=""></a>
        <a href="" class="nav__elem nav__elem--white">Аренда</a>
    </div>
    <a href="javascript:void(0)" class="nav__close-btn" onclick="closeNav()">&#9776;</a>
    <div class="nav__overlay-content">
        <a href="#" class="nav__overlay-elem">Продажа</a>
        <a href="#" class="nav__overlay-elem">Посуточно</a>
        <a href="#" class="nav__overlay-elem">Блог</a>
        <a href="#" class="nav__overlay-elem">Контакты</a>
        <a href="#" class="nav__overlay-elem">Новый поиск</a>
        <input type="text" class="input nav__ad input--grey" placeholder="Разместить обявление">
        <a href="" class="nav__overlay-elem nav__login">Войти</a>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
</script>