<section class="metro merto__home wrap">
    <div class="metro__content">
        <p class="section-main-text">Недвижимость возле метро</p>
        <div class="type-house metro__type-house">
            <a href=""><div class="type-house__elem">Квартиры</div></a>
            <a href=""><div class="type-house__elem">Дома</div></a>
            <a href=""><div class="type-house__elem">Офисы</div></a>
        </div>
        <div class="dropdown dropdown--red-point metro__dropdown">
            <a href="" class="dropdown__text">
                Политехнический институт
                <img src="" class="dropdown__img" alt="">
            </a>
        </div>
        <a href=""><div class="button metro__button">Показать результаты поиска</div></a>
    </div>
    <img src="" alt="" class="metro__img">
</section>