<section class="metro metro__home wrap">
    <div class="metro__content">
        <p class="section-main-text">Недвижимость возле метро</p>
        <div class="selector metro__type-house">
            <a href=""><div class="selector__elem">Квартиры</div></a>
            <a href=""><div class="selector__elem">Дома</div></a>
            <a href=""><div class="selector__elem">Офисы</div></a>
        </div>
        <div class="dropdown metro__dropdown">
            <select name="select" class="dropdown__select dropdown--red-point">
                <option class="dropdown__option">Политехнический институт</option>
                <option class="dropdown__option">Вокзальная</option>
                <option class="dropdown__option">Шулявская</option>
                <option class="dropdown__option">Университет</option>
            </select>
        </div>
        <a href=""><div class="button metro__button">Показать результаты поиска</div></a>
    </div>
    <img src="" alt="" class="metro__img">
</section>