<div class="telegram wrap">
    <div class="carousel">
        <div class="inner">
            <div class="slide">

                <div class="telegram__container main__container">
                    <div class="telegram__content">
                        <p class="main-text telegram__header">Общайтесь в Telegram</p>
                        <p class="telegram__content_text">Не отвлекайтесь больше на формальности. Получайте
                            моментальные уведомления о новых обьявлениях, общайтесь без ограничений. </p>

                        <div class="type-tel telegram__type-tel">
                            <a href="">
                                <div class="type-tel__elem">Поиск недвижимости</div>
                            </a>
                            <a href="">
                                <div class="type-tel__elem">Общение с клиентами</div>
                            </a>
                        </div>
                        <div class="telegram__main">
                            <div class="telegram__phone"><img src="img/tel_phone.png"></div>
                            <div class="telegram__block">
                                <div class="telegram__logo">
                                    <img src="img/tel_logo.png">
                                    <div class=" main-text">Telegram</div>
                                </div>
                                <p class="telegram__name main-text">Metrovka Bot</p>
                                <ol class="telegram__list">
                                    <li>
                                        Собирайте аналитику по объектам
                                    </li>
                                    <li>
                                        Получайте подсказки по эффективному продвижению объявлений
                                    </li>
                                    <li>
                                        Общайтесь с клиентами через специальный канал телекоммуникации
                                    </li>
                                </ol>
                                <a class="button telegram__btn">Присоединиться в Telegram</a>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="slide">
                <h1>2</h1>
            </div>
            <div class="slide">
                <h1>3</h1>
            </div>
        </div>
        <div class="arrow arrow-left"></div>
        <div class="arrow arrow-right"></div>
    </div>
    ​
</div>
