<section class="telegram wrap">
    <div class="telegram__container main__container">
        <div class="telegram__content">
            <p class="main-text telegram__header">Общайтесь в Telegram</p>
            <p class="telegram__content_text">Не отвлекайтесь больше на формальности. Получайте моментальные уведомления о новых обьявлениях, общайтесь без ограничений. </p>

            <div class="type-tel telegram__type-tel">
                <a href="">
                    <div class="type-tel__elem">Поиск недвижимости</div>
                </a>
                <a href="">
                    <div class="type-tel__elem">Общение с клиентами</div>
                </a>
            </div>
        </div>
    </div>
</section>