.dropdown {
  height: 18px;
  &__select {
    color: $color-grey-dark;
    height: 18px;
    border: 0;
    outline: none;
    font-size: 14px;
    width: 100%;
    appearance: none;
    outline: none;
    background: url("../img/listing/shape.png") no-repeat 100% center;
  }
}