/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";
/*
* Custom
*/
@import "partials/app";

#main {
  width: 100px;
  p, div {
    color: #000;
    a {
      color:blue;
    }
  }
}