.header {
  background-color: $color-green;
  color: $color-white;
  width: 100%;
  height: 60px;
  min-width: 835px;
  padding-top: 10px;
}

@media screen and (max-width: 360px) {
  .header {
    min-width: 360px;
    &__nav {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

}