.telegram {
  height: 806px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__home {
    margin-top: 20px;
  }
  &__header {
    margin-top: 23px;
    text-align: center;
  }
  &__slider {
    margin-top: -10px;
  }
  &__type-tel {
    margin-top: 30px;
    margin-left: 225px;
    margin-bottom: 40px;
  }
  &__main{
    display: flex;
    flex-direction: row;
  }
  &__block{
    margin-top: 50px;
    margin-left: 92px;
    width: 435px;
    height: 447px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #FFFFFF;
  }
  &__point-block{
    padding-top: 14px;
    display: flex;
    justify-content: center;
  }
  &__logo{
    margin-left: 40px;
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    align-items:center;
    img{
      margin-right: 20px;
    }
  }
  &__name{
    margin-top: 32px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  &__btn{
    margin-left: 40px;
    margin-bottom: 53px;
    letter-spacing: 0.75px;
    padding: 20px 55px;
  }
  &__point{
    height: 17px;
    width: 17px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid $color-green ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__point:hover{
    background-color: $color-green;
  }
  &__list{
    list-style: decimal;
    padding-left: 68px;
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 32px;
    width: 400px;
    margin-right: 35px;
    li{
      padding-left: 9px;
      padding-bottom: 13px;
    }
  }
}
.telegram__content_text{
  width: 504px;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  margin-left: 140px;
}
.main-text {
  font-size: 24px;
  color: $color-black;
}
.type-tel {
  display: flex;
  &__elem {
    color: $color-black;
    margin-right: 36px;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: 2px solid #5a6871;
    &:hover {
      border-bottom: 2px solid $color-green;
    }
  }
}
@media screen and (max-width: 360px){
  .telegram {
    height: auto;
    &__content_text{
      width: 320px;
      padding-top: 0;
      margin-left: 20px;
      margin-bottom: 32px;
      margin-top: 20px;
      text-align: center;
    }
    &__type-tel{
      margin: 0;
      width: 100%;
      text-align: center;
    }
    &__main{
      flex-direction: column;
    }
    &__phone{
      display: none;
    }
    &__block{
      margin: 0;
      width: 359px;
      height: 447px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      background-color: #FFFFFF;
    }
    &__list{
      padding-left: 56px;
      width: 280px;
    }
    &__btn{
      margin-bottom: 34px;
      padding: 20px 0;
    }
  }
  .type-tel__elem{
    margin-right: 13px;
    margin-left: 16px;
    margin-bottom: 32px;
  }
  .button{
    width: 280px;
  }
}
